<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='bank.css')}}">
    <title>bank</title>
</head>
<body>
       <div>
           <i class="fa fa-bank" style="font-size:100px;color:bank;position:absolute;top:10px;left:580px;"></i>
           <h4 style="position:absolute;top:90px;left:592px;">LDP BANK</h4>

       </div>
</body>
</html>